{:lein true

 :dev-http
 {8000 "target"}

 :builds
 {:rum
  {:target     :browser
   :output-dir "target/js"
   :asset-path "/js"
   :modules    {:base  {:entries [cljs.core rum.core]}
                :class {:entries [rum.examples.class]
                        :depends-on #{:base}}
                :fn    {:entries [rum.examples.fn]
                        :depends-on #{:base}}}
   }}}
